<div class='e50-bar'>
  <div>
    <p>Transform</p>
    <select ng-model="chartType" ng-options="id as value for (id, value) in chartTypes">
    </select> 
    <br>
    <select ng-model="dataId" ng-options="id for id in dataIds">
      <option value="both">Both</option>
      <option value="men">Men</option>
      <option value="women">Women</option>
      <option value="children">Children</option>
    </select>
    <a href="" ng-click="executeTransform(chartType, dataId)">Execute transform</a>
  </div>
  <br><br>
  <a href="" ng-click="stack()">Stack</a>
  <a href="" ng-click="unstack()">Unstack</a>

  <div class="chart"></div>

  <div ng-repeat="key in dataKeys">
    <a href="" ng-click="toggle(key)" ng-mouseover="focus(key)" ng-mouseleave="focus(dataKeys)">{{key}}</a>
  </div>  
</div>

<style>
  .e50-bar a {
    color: #00aeef;
    text-decoration: none;
  }
</style>