$primary-blue: #00aeef;
$dovegray: #666;
$wildsand:#f7f7f7;
$mercury: #e7e7e7;

.c3 .domain {
  stroke: $mercury;
}

text tspan {
  fill: $dovegray;
}

.c3 .tick line {
  stroke: $primary-blue;
  stroke-width: 1px;
}

.c3-line {
  stroke-width: 2px;
}

.c3-grid line {
  stroke: $mercury;
}

.c3-legend-item text {
  fill: $dovegray;
}

.c3-shapes .c3-circle {
  opacity: 1 !important;
}

.c3-tooltip-container {
  font-family: 'Helvetica Neue';
  border: 1px solid $mercury;
  
  .c3-tooltip {
    box-shadow: none;
    opacity: 1;

    .value {
      font-weight: bold;
    }
  }

  th {
    background-color: $wildsand;
    color: $dovegray;
    border-bottom: 1px solid $mercury;
    font-weight: normal;
    text-transform: uppercase;
    text-align:center;
    font-size:10px;
  }

  tr {
    border: 0;
    td {
      border: 0;
      color: $dovegray;
    }
  }
}

select {
  width: 120px;
  margin-bottom: 10px;
}